@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background: #f5f5f5;
}
a,a:active{
    text-decoration: none;
    color: black;
    transition: color .5s;
}
a:hover{
    color:#CC6666;
}


.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper_header {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.header__title {
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    font-weight: 300;
    cursor: default;
}
.site{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper_main {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.video-player {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 95vw;

}

.video-player__viewer {
    width: 100%;
    height: auto;
}

.video-player__controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 45px;
    transition: bottom 1s;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);

}

.video-player__play {
    position: absolute;
    display: flex;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: transform .2s, background .5s;
    border: none;
    background: url("images/svg/play-btn.svg") no-repeat;
    background-size: cover;
    z-index: 2;
}

.video-player__play:hover {

    background: url("images/svg/play-btn-hov.svg") no-repeat;
    background-size: cover;
}

.video-player__play:active {
    transform: scale(0.95);
}

.video-player__controls {
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
}

.controls__play {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    cursor: pointer;
    background: url("images/svg/play.svg") no-repeat center;
}

.controls__pause {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    cursor: pointer;
    background: url("images/svg/pause.svg") no-repeat center;
}

input[type=range]:focus {
    outline: none;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


input[type="range"].range_progress {
    height: 5px;
}

input[type="range"].range_volume {
    height: 4px;
    border-radius: 2px;
}


input[type="range"]::-webkit-slider-thumb {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: #ffffff;
    -webkit-appearance: none;
}

input[type="range"].range_progress::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
}

input[type="range"].range_volume::-webkit-slider-thumb {
    width: 10px;
    height: 10px;

}


.controls__volume {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    margin-left: 30px;
    cursor: pointer;
    background: url("images/svg/volume.svg") no-repeat center;
    background-size: cover;
}

.muted {
    cursor: pointer;
    background: url("images/svg/mute.svg") no-repeat center;
    background-size: cover;
}

.range_progress {
    position: absolute;
    top: -5px;
    left: 0;
    flex-grow: 1;
    width: 100%;
    min-width: 100px;
    background: #C8C8C8FF;
}

.range_volume {
    min-width: 50px;
    background: linear-gradient(to right, #CC6666 0%, #CC6666 10%, rgb(200, 200, 200) 10%, rgb(200, 200, 200) 100%);
}

.time {
    font-family: Roboto, serif;
    font-size: 1.5rem;
    padding-left: 10px;
    color: white;
    cursor: default;
}
.poster{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("images/video/video-player.jpg") center no-repeat;
    background-size: cover;
    z-index: 1;
    transition: opacity .5s;
}

.wrapper_footer{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    font-family: Roboto, serif;
    font-weight: 400;
}
.year{
    cursor: default;
}
.logoRS__link{
    background: url("images/footer/rs_school_js.svg") no-repeat center;
    background-size: contain;
    width: 80px;
    height: 30px;
    display: block;
}

.logoRS__link:hover{
    filter: brightness(0) saturate(100%) invert(42%) sepia(90%) saturate(356%) hue-rotate(315deg) brightness(102%) contrast(74%);
}


@media (max-width: 768px) {
    .header__title{
        font-size: 3rem;
    }
    .video-player__play{
        height: 80px;
        width: 80px;
    }
    .video-player__controls{
        min-height: 25px;
    }
    .controls__play {
        width: 15px;
        min-width: 15px;
        height: 20px;
        min-height: 20px;
        background-size: contain;
    }
    .controls__volume{
        width: 15px;
        min-width: 15px;
        height: 20px;
        min-height: 20px;
        background-size: contain;
        margin-left: 10px;
    }

}
@media (max-width: 425px) {
    .video-player{
        width: 95vw;
    }
    .header__title{
        font-size: 3rem;
    }
    .video-player__play{
        height: 50px;
        width: 50px;
    }
    .video-player__controls{
        min-height: 25px;
        padding: 0 10px;
    }
    .controls__play {
        width: 15px;
        min-width: 15px;
        height: 20px;
        min-height: 20px;
        background-size: contain;
    }
    .controls__volume{
        width: 15px;
        min-width: 15px;
        height: 20px;
        min-height: 20px;
        background-size: contain;
        margin-left: 10px;
    }
    .time{
        font-size: 1rem;
    }
}